name: test
run-name: ${{ github.ref_name }} by @${{ github.actor }} ${{ github.workflow }}
on:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    strategy:
      matrix:
        target:
          - TestEmbeddedPostgresPgx
          - TestEmbeddedPostgresPq
          - TestTestcontainersPgx
          - TestTestcontainersPq
          - TestRamsql
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
      - name: Run test
        run: |
          go test ./test/... -v -run ^${{ matrix.target }}$
